body{
    color: white;
    background-image: url(../Images/cloth.jpg); object-fit: fill;
}
.navbar {
    border-bottom: 2px solid rgba(15, 15, 15, 0.993);
}
.navbar .nav-link {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#Biggest{
    display: flex;
}